body{
  text-align: center;
  background-color: rgb(212, 249, 212);

}
h1{
  color: green;
  margin: 0px;
  padding: 0px;
}
.searchBox{
  width: 70vw;
  height: 40px;
  text-align: center;
  font-size: 1.1rem;
  margin: 5px auto;
  border-radius: 20px;
  border: none;
}
table{
  width: 80vw;
  text-align: left;
  border-collapse: collapse;
  margin-left: 10vw;
}
tr{
  border-bottom: 1px solid green;
  height: 50px;
}
.actions{
  display: flex;
  gap: 20px;
  color: green;
  height: 40px;
  justify-content: start;
  align-items: center;
}
.buttons{
  display: flex;
  height: 50px;
  margin-top: 20px;
  width: 80vw;
  gap: 15vw;
  margin-left: 10vw;
}
.deletebtn button{
  background-color: red;
  color: white;
  width: auto;
  padding: 4px 14px;
  
}
button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: green;
  color: white;
}
.paginationbtn{
  display: flex;
  gap: 5px;
}
button:disabled{
  color: green;
  background-color: white;
  border: 1px solid green;
}
.currentPage{
  color: green;
  background-color: white;
  border: 1px solid green;
}
.updatebtn{
  color: white;
  background-color: green;
  height: 40px;
  width: 100px;
  margin-top: 5px;
}
@media screen and (max-width:768px) {
  .buttons{
    display: flex;
    flex-direction:column;
    gap: 1px;
  }
  th:nth-child(3){
    display: none;
  }
  td:nth-child(3){
    display: none;
  }
}